body {
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background: linear-gradient(
        135deg,
        #2a394b 0%,
        #b5b8c4 50%,
        #eef4ff 100%
    );
}
.backBtn {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #192aac;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.backBtn:hover {
    background-color: #413a9e;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    min-height: 100vh;
    padding: 0 80px;
    box-sizing: border-box;
}
.leftContent {
    text-align: left;
    flex: 1;
    animation: slideFromLeft 1s ease-out forwards;
}
.imageWrapper{
    animation: slideFromRight 1s ease-out forwards;
}
.container img {
    width: 900px;
    margin-left: auto;
    animation: floating 3s ease-in-out infinite;
}
.title{
    margin-top:-40px;
    font-size: 90px;
    font-weight: 500;
}
.subtitle{
    margin-top: -60px;
    background: linear-gradient(
        90deg,
        #122ab0,
        #71588e
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.highlights ul {
    list-style:none;
    padding:0;
}
.highlights li{
    margin-bottom: 10px;
}
.highlights li::before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("urBurntPageImages/blue-instagram-account-verified-symbol-sign-icon-701751695136703siwh5zdh3h-removebg-preview.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}
.urBurnt_skills{
    margin-top: 30px;
    margin-bottom: 20px;
}
.Figma,
.HTML,
.CSS,
.TailwindCSS,
.JavaScript,
.DigitalMarketing {
    background-color: #e4e4e4;
    border-radius: 5px;
    padding: 4px 8px;
    width:fit-content;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 2px;
}
.Figma:hover,
.HTML:hover,
.CSS:hover,
.TailwindCSS:hover,
.JavaScript:hover,
.DigitalMarketing:hover {
    background-color: #d4d4d4;
}
.visitwebsite{
    margin-top: 10px;
    background-color: #192aac;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 17px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.visitwebsite:hover{
    background-color: #413a9e;
}
@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes floating {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}